
.question_header{
    font-size: 35px;
    font-weight: 400;
    line-height: 1.4;
    margin: 25px 0px 20px 0px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.quiz_container{
    h1{
        display: block;
        font-size: 25px;
        font-weight: 700;
        line-height: 1.4;
        margin: 25px 0px 20px 0px;
        font-family: "Montserrat","sens-serif";
    }
    .options{
        label{
            font-size: 18px;
            display: block;
            font-family: "Inter", "sens-serif";
            background-color: #E7E9EB;
            display: block;
            padding: 10px 10px 10px 30px;
            cursor: pointer;
            margin-bottom: 2px ;
            input{
                margin: 10px 25px 10px 10px;
            }
        }
    }
}
.result{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
.submit_answers{
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    height: 50px;
    border: none;
    text-decoration: none;
    padding: 10px 45px;
    background-color: #0071dc;
    border-color: #0071dc;
}

}
.next_button{
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    height: 50px;
    border: none;
    text-decoration: none;
    padding: 10px 45px;
    opacity: 0.8;
    background-color: #0071dc;
    // background-color: #04AA6D;
    border-color: #0071dc;
    margin-top: 30px;
}
.answers{
    // border: 1px solid lightgray;
    padding:20px 10px;
    border-radius: 5px;
    background-color: #EEF0F4;
    text-align: center;
    h1{
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        margin: 10px 0;
    }
    p{
        padding: 10px 0px 0px 0px;
        margin: 0;
        font-size: 18px;
        font-family: "Inter", "sens-serif";
    }
    .warn{
        color: red;
    }
    .success{
        color: #04AA6D;
    }
}